:root {
    --output-spacing: 1rem;
}

body {
    margin: 2rem;
    background-color: rgb(255, 255, 255);
    color: white;
}

.hidden {
    display: none;
}

.button {
    background-color: #828282;
    padding: .5rem;
    cursor: pointer;
}

.outer-grid {
    position: absolute;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    display:grid;
    grid-template-columns: 1fr 0.25fr 0.25fr 1fr;
    grid-template-rows: 1fr 0.25fr 0.25fr 1fr;
    grid-gap: 1rem;
}

.grid-element {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row-end: span 2;
    grid-column-end: span 2;
    padding: 1rem;
}

.grid-element.a {
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: auto;

}

.grid-element.b {
    grid-column-start: 3;
    /* grid-column-end: 4; */
    grid-row-start: 1;
    /* grid-row-end: 2; */
}

.grid-element.c {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 3;
    /* grid-row-end: 4; */
    gap: 1rem;
    overflow:hidden;
}

.grid-element.d {
    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
}

.grid-element.center {
    background-color: rgb(255, 255, 255);
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 2;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.center-num {
    color: black;
    font-size: 8vh;
}

/*output styles */


.output_root {
    background-color: white;
    flex: 1 1 0;
    display:flex;
    flex-direction: column;
    gap: var(--output-spacing);
}

.output_root div {
    flex: 1;
}

.output_p-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--output-spacing); 
}

.output_p-grid div {
    grid-row-end: span 1;
}

.output_p-layers {
    flex: 1 1 0;
    display:flex;
    flex-direction: column;
    gap: var(--output-spacing);
}

.output_p-layers div {
    flex: 1;
}

.output_p-columns {
    flex: 1 1 0;
    display:flex;
    flex-direction: row;
    gap: var(--output-spacing);
}

.output_p-columns div {
    flex: 1;
}

.output_p-spiral {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:             
        "a a a a a a a a a"
        "a a a a a a a a a"
        ". . . . . . . b b"
        ". . . d e e . b b"
        ". . . d . f . b b"
        ". . . d . . . b b"
        ". . . c c c c b b"
        ". . . c c c c b b"
        ". . . . . . . . .";
}

.output_p-spiral div:nth-child(1) {
    grid-area: a;
}
.output_p-spiral div:nth-child(2) {
    grid-area: b;
}
.output_p-spiral div:nth-child(3) {
    grid-area: c;
}
.output_p-spiral div:nth-child(4) {
    grid-area: d;
}
.output_p-spiral div:nth-child(5) {
    grid-area: e;
}
.output_p-spiral div:nth-child(6) {
    grid-area: f;
}



.output_s-block {
    display:block;
}

.output_s-circle {
    border-radius: 100%;
}

.output_s-tri-up{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.output_s-diamond{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* Gallery styles */
.gallery_wrapper {
    /* height: 100%; */
    display:flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 1rem;
    flex-wrap: wrap;
    overflow:auto;
}


.gallery_element-wrapper {
    height: 10vw;
    width: 10vw;
    position: relative;
}

.gallery_element-wrapper:hover .output_root {
    opacity: 50%;
}

.gallery_element-wrapper .output_root {
    position: absolute;
    bottom: 0px;
    top : 0px;
    left: 0px;
    right: 0px;
}

.gallery_element-label {
    display:none;
    z-index: 1;
    position: relative;
}

.gallery_element-wrapper:hover .gallery_element-label {
    height: 100%;
    bottom: 0px;
    top : 0px;
    left: 0px;
    right: 0px;

    /*I just had to grab this from webflow bc it would not work by hand */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

}

.gallery_element-wrapper p {
}


/* console styles */
.console_top {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.console_command-line-outer {
    flex: 1 1 0;
    background-color: rgb(208, 206, 206);
    overflow-y: auto;
}

.console_command-line {
    padding: 1rem;
    min-height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.console_mid {
    display:flex;
    flex-direction: row;
    gap: 0.5rem;
}

.console_output-wrapper {
    flex: 1;
    background-color: white;
}

.console_bottom {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    gap: 0.5rem;
    align-items: center;

}

.console_arrow{
    height: 2rem;
    color: white;
}

.console_icon-row-outer {
    overflow-y: auto;
    flex: 1;

}

.console_icon-row {
    overflow: auto;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.console_icon {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

/* Browser Styles */

.browser_top {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    position: relative;
}

.browser_page {
    display:none;
}

.browser_page.is-active {
    display: block;
}

.browser_page h1 {
    padding-left: 15%;
}

.browser_see-more {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.browser_see-more [page-link]{
    cursor: pointer;
}

.browser_page .console_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}