body {
    margin: 2rem;
    background-color: rgb(255, 255, 255);
    color: white;
}

.hidden {
    display: none;
}

.outer-grid {
    position: absolute;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    display:grid;
    grid-template-columns: 1fr 0.25fr 0.25fr 1fr;
    grid-template-rows: 1fr 0.25fr 0.25fr 1fr;
    grid-gap: 1rem;
}

.grid-element {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    grid-row-end: span 2;
    grid-column-end: span 2;
    padding: 1rem;
}

.grid-element.a {
    grid-column-start: 1;

    grid-row-start: 1;

}

.grid-element.b {
    grid-column-start: 3;
    /* grid-column-end: 4; */
    grid-row-start: 1;
    /* grid-row-end: 2; */
}

.grid-element.c {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 3;
    /* grid-row-end: 4; */
}

.grid-element.d {
    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
}

.grid-element.center {
    background-color: rgb(255, 255, 255);
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 2;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.center-num {
    color: black;
    font-size: 8vh;
}

.console_top {
    flex-grow: 1;
    margin-bottom: 2rem;
    display:flex;
    flex-direction: column;
}

.console_command-line-outer {
    flex-grow: 1;
}

.console_command-line {
    height: 100%;
    padding: 1rem;
    background-color: rgb(208, 206, 206);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.console_bottom {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.console_arrow{
    height: 2rem;
    color: white;
}

.console_icon-row-outer {
    overflow-y: hidden;
    flex-grow: 1;
}

.console_icon-row {

    background-color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.console_icon {
    height: 3rem;
    width: 3rem;
    /* background-color: blueviolet; */
}