.scene {
    position: relative;
    font-size: 5vmin;
    transform-style: preserve-3d;
}

div {
    transform-style: preserve-3d;
}

.cover {
    background-color: rgb(49, 175, 133);
}

.pages {
    background-color: rgb(190, 199, 179);
}

.front {
    position: relative;
    width: 3.5em;
    height: 5.1em;
}

.spine .top .side .bottom{
    width: 20%;
}

.spine .back{
    height: 100%
}
